
<h2>Todo App</h2>



<form>



  <div class="form-group row">
    <label for="colFormLabel" class="col-sm-2 col-form-label">Position Title</label>
    <div class="col-sm-10">
    <input type="text"  class="form-control" id="newPositionTitle" aria-describedby="Position" placeholder="PositionTitle">
    </div>
  </div>
  
 
  <button type="submit" class="btn btn-primary"(click)="addPosition()">Save</button>
</form>
<div class="container">
<table class="table table-sm">
<thead>
    <tr class="thead-dark">
    <th scope="col">Id</th>
    <th scope="col">Position Title</th>
    <th scope="col">Position Description</th>
  </tr>
</thead>

    <tbody>
      <tr   *ngFor="let position of positions">
        
        <td>{{position.Id}}</td>
        <td>{{position.PositionTitle}}</td>
        <td>{{position.PositionDescription}}</td>
        <td><button type="submit" class="btn btn-primary"(click)="deletePosition(position.Id)">Delete</button></td>
      </tr>
    </tbody>

  </table>
  
</div>
